.sub-container {
    width: 700px;
    margin-bottom: 20px;

}

.email-input {
    width: 50%;
    margin-left: 25%;
}

.forgot-email {
    justify-content: center;
    align-items: center;
    text-align: center;
}